* {
    box-sizing: border-box;
    color: white;
}
body {
    height: 100vh;
    background-color: rgb(41, 40, 53);
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/51e53f54-0d9f-40ec-9e05-c030def06ac9/549cb4e0-f572-45fc-9461-f86911731699/CO-es-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
main {
    color: white;
}
h3 {
    font-size: 35px;
    font-style: normal;
    margin-bottom: 10px;
}
footer {
    margin-left: 70px;
    padding-bottom: 80px;
}
.idioma-iniciar {
    margin-top: 20px;
}
.texto-inicio {
    margin-left: 80px;
    margin-top: 100px;
    margin-right: 200px;
}
.section-2 {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
}
.cajas-1 {
    width: 305px;
    height: 380px;
    background: linear-gradient(135deg, #f315b0, #560061);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 200px;
}
.logos-cajas{
    width: 100px;
    height: 100px;
}
.logos {
    height: 100px;
}
.section-3 {
    margin-left: 70px;
    margin-right: 80px;
    margin-top: 100px;
    display: grid;
}
.boton-multiple {
    height: 86px;
    width: 100%;
    background-color: rgb(0, 8, 182);
}
.enlaces-final{
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 34%;
}
#logo{
    width: 150px;
}
#idioma {
    color: white;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    height: 30px;
    width: 120px;
    border-radius: 5px;
}
#iniciar-header {
    color: white;
    text-decoration: none;
}
#pelYmas {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Russo One', sans-serif;
    
}
#comenzar {
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 200px;
}
#boton-1 {
    height: 30px;
    width: 120px;
    color: white;
    background-color: red;
    border-color: transparent;
    border-radius: 3px;
}
#boton-2 {
    height: 50px;
    width: 160px;
    color: white;
    background-color: red;
    border-color: transparent;
    border-radius: 8px;
    font-size: 20px;
}
#email {
    color: white;
    height: 55px;
    width: 400px;
    border-radius: 6px;
    background-color: black;
    opacity: 0.8;
    border-color: none;
}
#quieres-ver {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Jost', sans-serif;
}
#correo-final {
    margin-top: 30px;
}