* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Russo One', sans-serif;
}
header {
    width: 100%;
    height: 40px;
    background-color: rgb(44, 32, 218);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
a {
    text-decoration: none;
}
main {
    margin-top: 10px;
}
body {
    height: 100vh;
    background-color: goldenrod;
}
#siuu {
    position: absolute;
    right: 20px;
    top: 100px;
    border-radius: 5%;

}