* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
main {
    display: grid ;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    background-color: rgb(138, 189, 189);
}
p {
    margin-top: 10px;
    font-size: 0.8em;
    margin-right: 100px;
}
h1 {
    text-align: end;
    background-color: rgb(201, 139, 58);
}
a {
    font-size: 0,8em;
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 32px;
    color: blue;
}
.tamaño {
    height: 100vh;
    width: 100%;
}
.imagen-fragmento {
    height: 110px;
    width: 150px;
}
.imagen-pintura {
    height: 220px;
    width: 120px;
}
.imagen-fragmento:hover {
    height: 220px;
    width: 300px;
}
.imagen-pintura:hover {
    height: 440px;
    width: 240px;
}
.contenedor-imagen-pintura {
    display: flex;
    flex-direction: column;
}
#seccion-1 {
    padding-top: 10px;
    padding-left: 10px;
}
#seccion-3 {
    padding-top: 10px;
    padding-left: 10px;
}
#seccion-4 {
    padding-top: 10px;
    padding-left: 10px;
}
#subtitulo-seccion-2 {
    margin-bottom: 30px;
}
#contenedor-imagenes-seccion-2 {
    display: flex;
    justify-content: space-around;
}
#contenedor-imagenes-seccion-4 {
    display: flex;
    justify-content: space-evenly;

}
#nombre-autor {
    margin-left: 30px;
}